.toast-section {
    display: flex;
    max-width: 65%;
    margin-top: 0;
    margin-bottom: 0; /* Remove margin */
    margin: 0 auto;
    position: relative; /* Create a positioning context */
    z-index: 4;
    color: white;
}
  
  .toast-left {
    flex: 2;
    padding: 3rem;
    background-color: var(--blue);
    /* border: 2px solid black; */
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
  }
  
  .toast-left img {
    width: 50%; /* Adjust the size of the image */
    align-self: flex-start; /* Align the image to the left */
  }
  
  .toast-right {
    flex: 1;
    background-color: #004165;
    /* border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black; */
    color: white;
    padding: 3rem;
    position: relative; 
  }
  
  .toast-right img {
    width: 70%;
    height: 70%;
    position: absolute; /* Position the logo absolutely */
    top: 50%; /* Align vertically */
    left: 50%; /* Align horizontally */
    transform: translate(-50%, -50%); /* Center the logo */
  }
