:root{
    --black: #000000;
    --white: #d9d9d9;
    --text-dark-blue: #2b3e51;
    --dark-blue: #21323f;
    --blue: #4e6b7f;
    --orange: #c45538;
    --dark-grey: #333333;
    --beige: #A7A294;
}
