body{
    background-color: var(--broken-white);
}
header {
    position: relative;
    z-index: 3;
}
h2{
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Adjusted height to reduce space */
    position: relative;
    z-index: 2;
    margin-bottom: 5rem;
}
/* .maxW {
    max-width: 60%;
    margin: 0 auto;
  }   */
.black-text{
    color: var(--dark-grey);
}
.white-text{
    color: var(--white);
}
.button {
    background-color: var(--orange);
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 8.5rem;
    height: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Adjust as needed */
    text-decoration: none; /* Prevent underlining */
    color: white; /* Set text color */
    text-align: center; /* Center the text */
    font-weight: 600;
}
.services-button {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    line-height: 2rem; /* Adjust height of the button */
}

.button:hover {
    background-color: var(--red); /* Change background color on hover */
}


h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 5rem;
}
.divider-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-bottom: 5rem; /* Remove margin */
    margin-top: 5rem;
    position: relative;
    z-index: 2;
}

.splitter {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cut off the overflow */
    align-self: flex-start; /* Align the slogan to the top of its container */
    z-index: 3;
}

.splitter img {
    position: absolute;
    top: -150px;
    max-width: 100%;
    display: block;
    margin-bottom: 0;
    margin: 0 auto; /* Align the image horizontally */
    z-index: 1;
}

